<ion-view view-title="Timeslot" hide-nav-bar="true" cache-view="false">
  <ion-content has-bouncing="false" scroll="false">

  	<!-- <ul>
  		<div ng-repeat="id in group_id" ng-if="id.hours_diff == 1 || id.hours_diff == 2">
  		
  			
  			<li ng-repeat="timeslot in timeslots" ng-if="timeslot.group_id == id.id && (timeslot.diff_from_now == 1 || timeslot.diff_from_now ==2)" ng-class="{'red': timeslot.seats_left == 0, 'orange':timeslot.seats_left <= 10 && t.seats_left != 0}">
  			
  				{{timeslot.time}} ({{timeslot.seats_left}}) <span class="time_text" ng-show="timeslot.seats_left == 0">Full</span><span class="time_limited" ng-show="timeslot.seats_left <= 10 && timeslot.seats_left != 0">Limited<br/>Availability</span>
  			</li>
  			
  			
  		</div>

  	</ul> --> 
  	<div class="container">
  		<div class="row">
  			<div class="col">
		  		<div class="logo">
			  		<img src="img/small-logo.png">
			  	</div>
		  	</div>
		  	<div class="col">

		  		<div class="current_time">
		  			 <!-- <div class="label">Time:</div> -->
		  			 <div class="timenow">{{today_date}} {{current_time}}</div>
		  		</div>
		  	</div>
	  	</div>
  		<div class="times first-time">
		  	<div class="row timing-title">
		  		<div class="col">Timeslots</div>
		  		<!-- <div class="col">Gate</div> -->
		  		<div class="col">Status</div>
		  		<!-- <div class="col">No. of Slots Available</div> -->
		  	</div>
		  	<div class="row timing" ng-repeat="timeslot in timeslots_a" >
		  		<div class="col"><span class="available_time">{{timeslot.time}}</span></div>
		  		<!-- <div class="col">11, 12</div> -->
		  		<div class="col">
			  		<span ng-show="timeslot.seats_left != 0 && timeslot.seats_left >= 10 " class="green">Available</span>
			  		<span ng-show="timeslot.seats_left == 0" class="red">Full</span>
			  		<span ng-show="timeslot.seats_left <= 10 && timeslot.seats_left != 0" class="orange">Limited</span>


		  		</div>
		  		<!-- <div class="col">{{timeslot.seats_left}}</div> -->
		  	</div>
	  	</div>
	  	<div class="times second-time" ng-if="timeslots_b.length > 0">
		  	<div class="row timing-title">
		  		<div class="col">Timeslots</div>
		  		<!-- <div class="col">Gate</div> -->
		  		<div class="col">Status</div>
		  		<!-- <div class="col">No. of Slots Available</div> -->
		  	</div>
		  	<div class="row timing" ng-repeat="timeslot in timeslots_b" >
		  		<div class="col"><span class="available_time">{{timeslot.time}}</span></div>
		  		<!-- <div class="col">11, 12</div> -->
		  		<div class="col"><span ng-show="timeslot.seats_left != 0 && timeslot.seats_left >= 10 " class="green">Available</span><span ng-show="timeslot.seats_left == 0" class="red">Full</span><span ng-show="timeslot.seats_left <= 10 && timeslot.seats_left != 0" class="orange">Limited Availability</span></div>
		  		<!-- <div class="col">{{timeslot.seats_left}}</div> -->
		  	</div>
	  	</div>
  	</div>
   
  </ion-content>
</ion-view>
