/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
		url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz';
	src: url('../fonts/AkzidenzGroteskBE-Bold.eot');
	src: url('../fonts/AkzidenzGroteskBE-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AkzidenzGroteskBE-Bold.woff2') format('woff2'),
		url('../fonts/AkzidenzGroteskBE-Bold.woff') format('woff'),
		url('../fonts/AkzidenzGroteskBE-Bold.ttf') format('truetype'),
		url('../fonts/AkzidenzGroteskBE-Bold.svg#AkzidenzGroteskBE-Bold') format('svg');
	font-weight: bold;
	font-style: normal; 
}

@font-face {
	font-family: 'Digital-7';
	src: url('../fonts/Digital-7.eot');
	src: url('../fonts/Digital-7.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Digital-7.woff2') format('woff2'),
		url('../fonts/Digital-7.woff') format('woff'),
		url('../fonts/Digital-7.ttf') format('truetype'),
		url('../fonts/Digital-7.svg#Digital-7') format('svg');
	font-weight: normal;
	font-style: normal;
}
.pane, .view{
	background-image:url(../img/background.jpg);
	background-size: cover;
    background-attachment: fixed;
    height: auto;
    background-repeat: no-repeat;
    font-family: "Myriad Pro";
}
.container{
	    width: 80%;
    margin: 0px auto;
    background-color: rgba(255,255,255,0.5);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    // height: auto;
    height: 100%;
}
.times{
	width:40%;
	margin:0 auto;
	padding-bottom: 20px;
	display:inline-block;
	height: 877px;
	background-color: #e4e2e2;
}
.first-time{
	margin-left:8%;
}
.second-time{
	margin-left:3%;
	    vertical-align: top;
}
.timing-title {
     // margin-top: 5px;
    text-align: center;
    padding: 23px 26px !important;
    font-weight: 700;
    background-color: #424446 !important;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #717373;
    border-right: 1px solid #717373;
    border-left: 1px solid #717373;
    font-size: 2.3em;

    .col{
    	padding-top:0px;
    }
}
.timing{
	background-color: #e4e2e2;
    border-bottom: 6px solid #ccc;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
        // padding: 18px;

    padding:13px;

}
.timing:last-child{
	border-bottom:1px solid #ccc;
}
.col{
	    padding-top: 20px;
}
.red{
	background-color: red !important;
	color:#fff;
	width: 130px;
    height: 42px;
    padding-top: 12px;
    display: block;
    margin: 0 auto;
}
.orange{
	background-color: orange !important;
	color:#fff;
	     width: 130px;
    height: 42px;
    padding-top: 12px;
    display: block;
    margin: 0 auto;
}
.green{
	background-color: #009487 !important;
	color:#fff;
	width: 130px;
    height: 42px;
    padding-top: 12px;
    display: block;
    margin: 0 auto;
}
.available_time
{
	padding-top: 12px;
	 display: block;
    margin: 0 auto;
}
.logo{
	padding-left:20px;
	    margin-top: 20px;
	img{
		width: 200px;
	}
}
.current_time{
	font-size:5em;
	
	text-align:right;
	padding-right:20px;
	margin-top:65px;
}
.label{
	display:inline-block;
}
.timenow{
	display:inline-block;
	// font-family:'Digital-7';
}